@import "base";

.gallary {
  max-width: 955px;
  margin: 7em auto;
  font-size: 16px;
}

.head {
  margin-top: 1.8em;
  margin-bottom: 1em;

  &.head-1 {
    @include headline(1.6em, $heading1);
  }
  &.head-2 {
    @include headline(1.4em, $heading2);
  }
  &.head-3 {
    @include headline(1.2em, $heading3);
  }
  &.head-4 {
    @include headline(1em, $heading4);
  }
  &.head-5 {
    @include headline(0.8em, $heading5);
  }

  strong {
    font-weight: 400;
  }
}

.photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  gap: 20px;
}

.photo-figure {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.photo-figure.large {
  grid-row: span 2;
  grid-column: span 2;
}

.photo-a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.photo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// redefine the style of photoswipe
button.pswp__button.pswp__button--share {
  display: none;
}

@media screen and (max-width: $layout-medium) {
  .gallary {
    margin: 5em 40px;
  }
}

@media screen and (max-width: $layout-small) {
  .gallary {
    margin: 4em 6px;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
  }
  h1, h2 {
    margin-left: 12px;
  }
  .photos {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }
  .pswp__counter {
    font-size: larger;
  }

  button.pswp__button.pswp__button--fs,
  button.pswp__button.pswp__button--arrow-left,
  button.pswp__button.pswp__button--arrow-right {
    display: none;
  }
}
