@import "base";

.gallary {
  max-width: 955px;
  margin: 7em auto;
  font-size: 16px;
}

.head {
  margin-top: 1.8em;
  margin-bottom: 1em;

  &.head-1 {
    @include headline(1.6em, $heading1);
  }
  &.head-2 {
    @include headline(1.4em, $heading2);
  }
  &.head-3 {
    @include headline(1.2em, $heading3);
  }
  &.head-4 {
    @include headline(1em, $heading4);
  }
  &.head-5 {
    @include headline(0.8em, $heading5);
  }

  strong {
    font-weight: 400;
  }
}

.photos {
  display: flex; /* Let Masonry handle the layout */
  flex-wrap: wrap;
  margin-left: -10px; /* Adjust gap between columns */
  width: auto;
}

.photo-figure {
  width: calc(33.333% - 10px); /* Adjust width as needed */
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #000000; /* Or any background color */
  overflow: hidden;
  position: relative;
}

.photo-figure img {
  width: 100%;
  height: auto;
  display: block;
}

.photo-figure.large {
  width: calc(66.666% - 10px); /* Example for larger photo */
}

// redefine the style of photoswipe
button.pswp__button.pswp__button--share {
  display: none;
}

@media screen and (max-width: $layout-medium) {
  .gallary {
    margin: 5em 40px;
  }
}

@media screen and (max-width: $layout-small) {
  .gallary {
    margin: 4em 6px;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
  }
  h1, h2 {
    margin-left: 12px;
  }
  .photos {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }
  .pswp__counter {
    font-size: larger;
  }

  button.pswp__button.pswp__button--fs,
  button.pswp__button.pswp__button--arrow-left,
  button.pswp__button.pswp__button--arrow-right {
    display: none;
  }
}
